@model ASPNETCore_Core.Models.Encore

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Encore</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LottoType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LottoType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DrawDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DrawDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DrawType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DrawType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TotalCashWon)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TotalCashWon)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WinninNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WinninNumber)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>
